/*주차 표시*/

#week-header {
    height: 35px;

    display: flex;
    align-items: center;
    margin-left: 45%;
    margin-top: -50px;

    gap: 40px;
}

#week-header h2 {
    margin: 0;
    font-size: 35px;
    line-height: 1;
    transform: translateY(8px);
}

#week-header button {
    width: 35px;
    height: 35px;

    border: none;
    background: none;

    font-family: inherit;
    font-size: 35px;

    cursor: pointer;
}

/*날짜*/

#calendar article > div:first-child {
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #000000;
}

#calendar article > div:first-child h3 {
    margin: 0;

    font-family: "Cafe24OhsquareAir", sans-serif;
    font-size: 25px;
    font-weight: normal;

    color: #000000;
}

/*오늘 날짜 강조*/

#calendar article.today > div:first-child {
    background-color: #f2f2f2;
}

#calendar article.today > div:first-child h3 {
    font-weight: bold;
}

/*주간 캘린더*/

#calendar {
    width: 1440px;
    height: 605px;

    margin-top: 40px;
    margin-left: 50px;

    display: grid;

    grid-template-columns: repeat(7, 1fr);

    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

#calendar article {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#calendar article > div:nth-child(2) {
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #000000;
    
    margin: 0;

    font-size: 25px;
}


/*일정*/

.schedule-area {
    margin-top: 10px;
    height: 509px;
    overflow-y: auto;
}

.schedule-area::-webkit-scrollbar {
    width: 6px;
}

.schedule-area::-webkit-scrollbar-thumb {
    background-color: #bbb; 
    border-radius: 3px;
}

.schedule-area::-webkit-scrollbar-track {
    background-color: transparent; 
}

.schedule-area ul {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    list-style: none;
}

.schedule-area li {
    min-height: 45px;
    display: flex;
    position: relative;
}
.schedule-area li span[contenteditable="true"] {
    outline: none;
}

.schedule-area input[type="checkbox"] {
    appearance: none;

    width: 20px;
    height: 20px;

    border: 2px solid #000000;
    border-radius: 3px;

    margin-right: 10px;
    cursor: pointer;
}

.schedule-area li span {
    flex: 1;
    font-family: "Cafe24OhsquareAir", sans-serif;
    font-size: 20px;
    color: #000000;
}

.schedule-area li > button {
    width: 20px;
    height: 20px;

    padding: 0;

    border: none;
    background: none;

    font-family: inherit;
    font-size: 25px;

    cursor: pointer;
}

.schedule-area li.completed span {
    color: #999;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.schedule-area input[type="checkbox"]:checked {
    border-color: #999;
}

.schedule-area input[type="checkbox"]:checked::after {
    content: "✓";

    position: absolute;
    left: 6px;
    top: -24px;

    color: #999;
    font-size: 35px;
    font-weight: normal;
}

/*일정 삭제 메뉴*/

.delete-schedule {
    display: none;

    position: absolute;
    right: 0;
    padding: 5px;

    background-color: white;
    border: 1px solid #000000;

    z-index: 10;
}

.delete-schedule.show {
    display: block;
}

.delete-schedule button {
    border: none;
    background: none;

    font-family: inherit;
    font-size: 13px;
    font-family: "Cafe24OhsquareAir", sans-serif;

    cursor: pointer;
}